:root {
  font-size: 60%;

  --color-background: #f0f0f7;

  --color-box-base: #f1f1f1;
  --color-box-footer: #fafafc;
  --color-box-shadow: rgba(54, 52, 53, 0.1);
  --color-box-shadow-primary: rgba(54, 52, 53, 0.2);
  --color-box-shadow-secondary: rgba(54, 52, 53, 0.4);
  --color-box-shadow-default: rgba(54, 52, 53, 0.5);

  --color-button-text: #ffffff;

  --color-info-danger-primary: #e74c3c;
  --color-info-danger-secondary: #c0392b;
  --color-info-info-primary: #3498db;
  --color-info-info-secondary: #2980b9;
  --color-info-success-primary: #1abc9c;
  --color-info-success-secondary: #16a085;
  --color-info-warning-primary: #e67e22;
  --color-info-warning-secondary: #d35400;

  --color-input-background: #f8f8fc;

  --color-line-in-white: #e6e6f0;

  --color-primary: #f9feff;
  --color-primary-dark: #17427e;
  --color-primary-darker: #021836;
  --color-primary-light: #7eb5e3;
  --color-primary-lighter: #4a7abc;

  --color-secondary-dark: #132334;
  --color-secondary: #455d76;

  --color-text-base: #202022;
  --color-text-complement: #9c98a6;
  --color-text-in-primary: #232224;
  --color-text-title: #383149;

  --color-title-in-primary: #132334;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: 0;
}

html,
body,
#root,
.loading-page {
  height: 100vh;
  margin-bottom: 10rem;
}

body {
  background: var(--color-background);

  text-rendering: optimizeLegibility !important;
  font-family: sans-serif;
  -webkit-font-smoothing: antialiased;
}

#root,
.loading-page {
  display: flex;
  justify-content: center;
  align-items: center;
}

body,
input,
button,
textarea {
  font: 500 1.6rem "Jura", sans-serif;
  color: var(--color-text-base);
}

@media screen and (min-width: 768px) {
  :root {
    font-size: 62.5%;
  }
}
