.page-register-form,
.page-display-contacts {
  width: 100vw;
  height: 100vh;
}

/**
 * .page-header
 */
.page-header {
  display: flex;
  flex-direction: column;
  background-color: var(--color-primary);
}

/**
 * .page-header .top-bar-container
 */
.page-header .top-bar-container {
  width: 90%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--color-text-in-primary);
  padding: 1.6rem 0;
}

.page-header .top-bar-container > a {
  height: 3.2rem;
  transition: opacity 0.2s;
}

.page-header .top-bar-container > a:hover {
  opacity: 0.6;
}

.page-header .top-bar-container > img {
  box-shadow: 0 0 3rem rgba(0, 0, 0, 0.05);
  padding: 1rem;
  height: 6rem;
}

/**
 * header-content
 */
.page-header .header-content {
  width: 100vw;
  position: relative;
  margin: 1.5rem auto;
  padding: 1rem 1.6rem;
}

.page-header .header-content strong {
  font: 700 2rem "Jura", sans-serif;
  color: var(--color-title-in-primary);
}

.page-header .header-content p {
  display: flex;
  align-items: center;
  justify-content: space-between;

  font-size: 1.8rem;
  line-height: 2.4rem;
  color: var(--color-text-in-primary);
  margin-top: 2rem;
}

/**
 * page-register-form and page-display-contacts
 */
.page-register-form main,
.page-display-contacts main {
  background: var(--color-box-base);
  width: 100%;
  border-radius: 0.6rem;
  margin: 1rem auto 2rem;
  padding: 2rem 0;
  overflow: hidden;
}

.page-register-form main article.specific,
.page-display-contacts main article.specific {
  padding-bottom: 2rem;
}

.page-register-form main fieldset,
.page-display-contacts main fieldset {
  border: 0;
  padding: 0 1.6rem;
}

.page-register-form main fieldset + fieldset,
.page-display-contacts main fieldset + fieldset {
  margin-top: 6.4rem;
}

.page-register-form main fieldset legend,
.page-display-contacts main fieldset legend {
  font: 700 2rem "Jura", sans-serif;
  color: var(--color-text-title);
  margin-bottom: 2.4rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding-bottom: 1.6rem;
  border-bottom: 1px solid var(--color-line-in-white);
}

.page-register-form main fieldset .add-obs {
  display: flex;
  align-items: center;
  justify-content: left;

  cursor: pointer;
  margin: 2rem 0;
  padding: 1rem 0.5rem;
}

.page-register-form main fieldset .add-obs i {
  margin-left: 1rem;
}

/**
 * footer
 */
.page-register-form main footer,
.page-display-contacts main footer {
  padding: 2rem 1.6rem;
  background: var(--color-box-footer);
  border-top: 1px solid var(--color-line-in-white);
  margin-top: 2rem;
}

.page-register-form main footer p,
.page-display-contacts main footer p {
  display: flex;
  align-items: center;
  box-shadow: 0 0 3rem rgba(0, 0, 0, 0.1);
  color: var(--color-text-complement);
  font-size: 1.8rem;
  justify-content: center;
  line-height: 2.4rem;
  margin-bottom: 2.5rem;
  padding: 1.8rem 0;
}

.page-register-form main footer p i,
.page-display-contacts main footer p i {
  border-radius: 50%;
  box-shadow: 0 0 3rem var(--color-box-shadow-default);
  font-size: 2rem;
  margin-right: 1rem;
}

.page-register-form main footer button,
.page-display-contacts main footer button {
  width: 100%;
  height: 5.6rem;
  background: var(--color-secondary);
  border: none;
  border-radius: 0.5rem;
  box-shadow: 0 0 3rem var(--color-box-shadow-default);
  color: var(--color-button-text);
  cursor: pointer;
  font: 700 2rem "Jura", sans-serif;

  display: flex;
  align-items: center;
  justify-content: center;

  text-decoration: none;

  transition: background-color 0.4s;
}

.page-register-form main footer button:hover,
.page-display-contacts main footer button:hover {
  background: var(--color-secondary-dark);
}

.page-register-form main footer button i,
.page-display-contacts main footer button i {
  margin-right: 1rem;
}

/**
 * card-user
 */
.card-user {
  background: var(--color-box-base);
  box-shadow: 0 0 4rem var(--color-box-shadow-primary);
  border: 1px solid var(--color-line-in-white);
  border-radius: 0.5rem;
  margin: 2.4rem 1.6rem 0;
  overflow: hidden;
}

.card-user header {
  padding: 2rem;
  display: flex;
  align-items: center;
}

.card-user header img {
  box-shadow: 0 0 3rem var(--color-box-shadow-primary);
  border-radius: 50%;
  width: 6rem;
  height: 6rem;
}

.card-user header div {
  margin-left: 2.4rem;
}

.card-user header div strong {
  font: 700 2.4rem "Jura", sans-serif;
  display: block;
  color: var(--color-text-title);
}

.card-user header div span {
  font-size: 1.6rem;
  display: block;
  margin-top: 0.4rem;
}

.card-user > p {
  padding: 0 2rem;
  font-size: 1.6rem;
  line-height: 2.8rem;
  margin-bottom: 2rem;

  height: auto;
  max-height: 100px;
  max-height: 180px;
  overflow-y: scroll;
}

.card-user > p.info-bio {
  box-shadow: 0 0 3rem rgba(0, 0, 0, 0.1);
  color: var(--color-text-complement);
  font-size: 1.8rem;
  line-height: 2.4rem;
  padding: 1rem;
  margin-right: 1.2rem;
  margin-left: 1.2rem;
}

.card-user > p.info-bio i {
  border-radius: 50%;
  box-shadow: 0 0 3rem rgba(0, 0, 0, 0.4);
  font-size: 2rem;
  margin-right: 1rem;
}

/* mobile */
@media screen and (max-width: 767px) {
}

/* desktop */
@media screen and (min-width: 768px) {
  .page-register-form,
  .page-display-contacts {
    max-width: 992px;
  }
}
