<div class="container-tools">
  <h2>Ferramentas utilizadas:</h2>

  <div class="images">
    <img src="../src/assets/tools/angularjs.png" alt="angularjs" />
    <img src="../src/assets/tools/chrome.png" alt="chrome" />
    <img src="../src/assets/tools/coffee.png" alt="coffee" />
    <img src="../src/assets/tools/css.png" alt="css" />
    <img src="../src/assets/tools/express.png" alt="express" />
    <img src="../src/assets/tools/fedora.png" alt="fedora" />
    <img src="../src/assets/tools/firefox.png" alt="firefox" />
    <img src="../src/assets/tools/fontawesome.png" alt="fontawesome" />
    <img src="../src/assets/tools/gimp.png" alt="gimp" />
    <img src="../src/assets/tools/github.png" alt="github" />
    <img src="../src/assets/tools/git.png" alt="git" />
    <img src="../src/assets/tools/html.png" alt="html" />
    <img src="../src/assets/tools/js.png" alt="js" />
    <img src="../src/assets/tools/node.png" alt="node" />
    <img src="../src/assets/tools/npm.png" alt="npm" />
    <img src="../src/assets/tools/postman.png" alt="postman" />
    <img src="../src/assets/tools/sqlite.png" alt="sqlite" />
    <img src="../src/assets/tools/terminal.png" alt="terminal" />
    <img src="../src/assets/tools/ts.png" alt="ts" />
    <img src="../src/assets/tools/vscode.png" alt="vscode" />
    <img src="../src/assets/tools/yarn.png" alt="yarn" />
  </div>
</div>
