<div class="page-display-contacts">
  <header class="page-header">
    <div class="top-bar-container">
      <a href="/">
        <img src="../src/assets/img/icons/back.svg" alt="Voltar" />
      </a>

      <img src="../src/assets/img/logo.png" alt="Logo APSantoa" />
    </div>

    <div class="header-content">
      <strong>{{title | uppercase}}</strong>
      <p>
        {{subtitle}}
        <i
          class="fa fa-plus iconBS animated fadeIn info"
          aria-hidden="true"
          title="Limpar consulta"
          ng-if="!contacts.length"
          ng-click="newContact()"
        ></i>
      </p>
    </div>
  </header>

  <main>
    <div ng-if="contacts.length">
      <fieldset>
        <div class="input-block">
          <label for="name">Filtrar</label>
          <input
            type="text"
            name="name"
            id="name"
            placeholder="Nome ou username do GitHub"
          />
        </div>
      </fieldset>

      <article class="card-user specific" ng-repeat="item in contacts">
        <header>
          <img
            ng-src="{{item.avatar_url ? item.avatar_url : 'src/assets/img/icons/profile.png'}}"
            alt="{{item.name}}"
          />

          <div>
            <strong>{{item.name}}</strong>
            <span>{{item.location}}</span>
          </div>
        </header>

        <p ng-if="item.bio">{{item.bio}}</p>

        <p class="info-bio" ng-if="!item.bio">
          <i class="fa fa-info-circle" aria-hidden="true"></i>
          Sem informações adicionais
        </p>

        <fieldset ng-if="item.obs">
          <div class="textarea-block custom">
            <label class="custom">Observação</label>
            <p>{{item.obs}}</p>
          </div>
        </fieldset>
      </article>
    </div>

    <!-- notification -->
    <div class="fixed-notification" ng-if="!contacts.length">
      <i class="fa fa-{{dataPage.error.icon}}" aria-hidden="true"></i>
      {{dataPage.error.info}}
    </div>
  </main>
</div>
