<div class="page-home">
  <div class="page-home-content animated fadeIn">
    <div class="logo-container">
      <img src="./src/assets/img/logo.png" alt="Logo APSantos" />
      <h2>
        {{message}}
        <i class="fa fa-github" aria-hidden="true"></i>
      </h2>
    </div>

    <img
      src="./src/assets/img/capa.jpg"
      class="image-capa"
      alt="Lista de contatos"
      title="[Calendário vetor criado por pikisuperstar - br.freepik.com](https://br.freepik.com/vetores/calendario)"
    />

    <div class="buttons-container">
      <a href="#!/contatos" class="display">
        <i class="fa fa-external-link" aria-hidden="true"></i>
        Exibir
      </a>

      <a href="#!/cadastrar" class="create">
        <i class="fa fa-pencil" aria-hidden="true"></i>
        Cadastrar
      </a>
    </div>

    <p>
      <span class="infinformationo">v0.0.1-beta</span>
    </p>

    <div class="social-networks" ng-if="socialNetworks.length">
      <p>Minhas redes sociais:</p>

      <a
        href="{{item.url}}"
        rel="noopener noreferrer"
        target="_blank"
        title="{{item.text}}"
        ng-repeat="item in socialNetworks"
      >
        <i class="fa fa-{{item.icon}} fa-custom" aria-hidden="true"></i>
      </a>
    </div>
  </div>
</div>
