<div class="page-register-form">
  <header class="page-header">
    <div class="top-bar-container">
      <a href="/">
        <img src="../src/assets/img/icons/back.svg" alt="Voltar" />
      </a>

      <img src="../src/assets/img/logo.png" alt="Logo APSantoa" />
    </div>

    <div class="header-content">
      <strong>{{title | uppercase}}</strong>
      <p>{{subtitle}}</p>
    </div>
  </header>

  <main>
    <form name="contactForm">
      <fieldset>
        <legend>Dados do contato</legend>

        <div class="input-block">
          <label for="name">Username</label>
          <input
            type="text"
            name="name"
            id="name"
            placeholder="Nome de usuário no GitHub"
          />
        </div>
      </fieldset>

      <article class="card-user">
        <header>
          <img src=https://avatars0.githubusercontent.com/u/32685587?v=4
          alt='Anderson Pires' />
          <div>
            <strong>Anderson Pires</strong>
            <span>Belo Horizonte - MG / Brasil</span>
          </div>
        </header>

        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Id dolor
          quidem illum placeat velit eaque perferendis impedit qui maxime
          aperiam. Tempore, animi? Illo voluptas soluta minus aliquid fuga at
          ea.
        </p>

        <p class="info-bio">
          <i class="fa fa-info-circle" aria-hidden="true"></i>
          Sem informações adicionais!
        </p>
      </article>

      <fieldset ng-if="display">
        <div class="textarea-block">
          <label for="bio">Observação</label>
          <textarea
            name="bio"
            id="bio"
            placeholder="Adicione algum comentário, caso desejar."
          ></textarea>
        </div>
      </fieldset>

      <footer>
        <p ng-if="display">
          <i class="fa fa-info-circle" aria-hidden="true"></i>
          Preencha todos os dados
        </p>
        <button type="submit">
          <i class="fa fa-cloud" aria-hidden="true"></i>
          Salvar contato
        </button>
      </footer>
    </form>
  </main>
</div>
