<div class="page-register-form">
  <header class="page-header">
    <div class="top-bar-container">
      <a href="/">
        <img src="../src/assets/img/icons/back.svg" alt="Voltar" />
      </a>

      <img src="../src/assets/img/logo.png" alt="Logo APSantoa" />
    </div>

    <div class="header-content">
      <strong>{{title | uppercase}}</strong>
      <p>{{subtitle}}</p>
    </div>
  </header>

  <main>
    <form name="registerForm">
      <fieldset>
        <legend>
          Dados do contato
          <i
            class="fa fa-trash iconBS animated fadeIn danger"
            aria-hidden="true"
            title="Limpar consulta"
            ng-if="user.length"
            ng-click="resetContact()"
          ></i>
        </legend>

        <div class="input-block">
          <label for="name">Username</label>
          <input
            type="text"
            name="user"
            id="user"
            placeholder="Nome de usuário no GitHub"
            ng-model="register.user"
            ng-minlength="2"
            ng-required="true"
          />
        </div>
      </fieldset>

      <!-- card user -->
      <div ng-if="user.length" class="animated fadeIn">
        <article class="card-user" ng-repeat="item in user">
          <header>
            <img
              ng-src="{{item.avatar_url ? item.avatar_url : 'src/assets/img/icons/profile.png'}}"
              alt="{{item.name}}"
            />

            <div>
              <strong>{{item.name}}</strong>
              <span>{{item.location}}</span>
            </div>
          </header>

          <p>{{item.bio}}</p>

          <p class="info-bio" ng-if="error.info">
            <i class="fa fa-info-circle" aria-hidden="true"></i>
            {{error.info}}
          </p>
        </article>

        <fieldset>
          <div ng-switch="dataForm.note.display">
            <div class="add-obs" ng-switch-default ng-click="addNote()">
              <span>Adicionar observação</span>
              <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
            </div>

            <div
              class="textarea-block custom theme animated fadeIn"
              ng-switch-when="note"
            >
              <label for="bio">Observação</label>
              <textarea
                name="bio"
                id="bio"
                ng-model="register.obs"
                placeholder="Adicione algum comentário, caso desejar."
              ></textarea>
            </div>
          </div>
        </fieldset>
      </div>

      <footer>
        <button
          type="button"
          ng-disabled="registerForm.$invalid"
          ng-click="addContact(register)"
        >
          <i class="fa fa-{{dataForm.button.icon}}" aria-hidden="true"></i>
          {{dataForm.button.name}}
        </button>
      </footer>
    </form>
  </main>
</div>

<!-- TOAST -->
<div class="toast success animated fadeIn" ng-if="toast.active">
  <i class="fa fa-{{toast.icon}}" aria-hidden="true"></i>
  <span>Lorem ipsum, dolor sit {{toast.message}}</span>
</div>
